h1 {
    text-align: center;
  }
  #produtos-container {
    display: flex;
    justify-content: space-around;
  }
  .produto {
    text-align: center;
    margin-bottom: 20px;
  }
  .produto img {
    width: 200px;
    height: 200px;
  }
  .comprar {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }